@model List<RoomDto>

@{
    ViewData["Title"] = "Rooms";
    Layout = "_LayoutAdmin";
}

<h1>Rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Room Number
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                <form asp-action="DeleteRoom" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
